body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 10pt;
  background-color: white;
}
h2 {
  color: #900;
  margin-bottom: 6px;
  margin-top: 22px;
}
h3 {
  padding: 0;
  margin: 2px 0;
}
.container {
  max-width: 1305px;
  min-width: 650px;
  width: 100%;
  margin: 0 auto;
}
.name {
  float: left;
  color: #900;
  font-size: 2em;
  font-weight: bold;
}
.contact {
  margin: 10px;
  float: right;
  font-size: 11pt;
  width: 350px;
  text-align: left;
}
.contactTitle {
  font-weight: bold;
}

.break {
  clear: both;
}
.top {
  margin-left: 4px;
  padding: 0;
  border-top: 1px solid #ccc;
}
.box {
  margin-left: 4px;
  border-bottom: 1px solid #ccc;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.box .boxLeft {
  float: left;
  width: calc(15% - 1px);
  background: url("/web/20200224050839im_/http://chambalam.com/checker.jpg")
    repeat;
}
.box .boxRight {
  float: right;
  width: 85%;
  border-left: 1px solid #ccc;
}
.boxLeftInner {
  margin: 10px 5px;
  text-align: center;
  font-size: 12pt;
  font-weight: 600;
  color: black;
}
.boxRightInner {
  margin: 10px;
  line-height: 140%;
}
.boxRightInner ul li {
  margin-bottom: 7px;
}
.refBoxLeft {
  border-right: 1px solid #ccc;
  width: calc(33% - 21px);
}
.refBoxRight {
  width: calc(33% - 20px);
}
.refBoxLeft,
.refBoxRight {
  float: left;
  padding: 10px;
  min-height: 100px;
}
#fade {
  color: rgba(97, 95, 95, 0.725);
}
h5 {
  color: #3f3e3e;
}
